@model AgenciaViagem.Models.Destino

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Destino</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LocalDestino" class="control-label"></label>
                <input asp-for="LocalDestino" class="form-control" />
                <span asp-validation-for="LocalDestino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataIda" class="control-label"></label>
                <input asp-for="DataIda" class="form-control" />
                <span asp-validation-for="DataIda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtdPassageiros" class="control-label"></label>
                <input asp-for="QtdPassageiros" class="form-control" />
                <span asp-validation-for="QtdPassageiros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
