@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
    <h1 class="display-4">Sejam Bem-vindo(s)!</h1>
    <p>Venham conhecer a nossa Agência de Viagens e ter suas férias inesquecíveis!</p>
</div>

